:root {
    --bg-color: #ffffff;
    --text-color: #222;
}

@keyframes fly-plane {
    0% {
        transform: translateX(-10%); /* Старт левее картинки */
        opacity: 1;
    }
    100% {
        transform: translateX(150%); /* Уходит за правый край */
        opacity: 0; /* Исчезает */
    }
}

.block_img {
    position: relative; /* Чтобы самолёт двигался внутри этого блока */
    width: fit-content;
}

.airplane {
    top: 350px;
    z-index: 2;
    position: absolute;
    bottom: 20%;
    left: 25px; /* Начальное положение */
    width: 25%;
    animation: fly-plane 5s linear infinite;
}



body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 12px;
    font-style: normal;
}

a {
    text-decoration: none;
}

nav {
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 1000;
    padding: 15px 0;
}

.block_img {
    position: absolute;
    top: 100px;
    right: 40px;
}


.dostoprima {
    width: 500px;
    position: relative;
    left: -75px;
    top: 150px;
    z-index: 1;
    border-radius: 20px;
}

.flex {
    display: flex;
}

.flex_just_between {
    justify-content: space-between;
}

.flex_just_center {
    justify-content: center;
}

.flex_align_center {
    align-items: center
}

.gap_20 {
    gap: 20px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}
.logo img{
    height: 70px;
}

.menu a {
    font-size: 16px;
    color: var(--text-color);
    padding: 5px 15px;
    transition: 0.5s;
}

.menu a:hover {
    background: #45a6bc;
    color: #fff;
}

.contacts {
    padding-right: 10px;
}

.banner {
    background: url(img/background1.jpg);
    background-size: cover;
    height: 80vh;
    width: 90%;
    margin: 115px auto;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slogan{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.btns{
    display:flex;
    text-align: center;
    padding: 10px 10px;
    border: none;
    background-color: rgb(89, 155, 253, 0.9);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    gap: 15px;
}

.buttons{
    display: flex;
    gap: 15px;
    justify-content: center;
    width: 100%;

}


.banner_text {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
    background: rgba(199, 243, 255, 0.4);
    width: 50%;
    border-radius: 20px;
    position: relative;
    margin-left: -500px;
}



section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    width: 70%;
    margin: 1% auto;
}

.pic {
    width: 100%;
    margin: 7px 7px 7px 0;
}


/*Подвал*/
footer {
    background: #ccfcff9b;
    color: #000000;
    padding: 70px 0;
}

.form {
    width: 40%;
    margin-right: 50px;
}

.map {
    width: 100%;
}

input, textarea {
    padding: 10px;
    border-radius: 20px;
    border: 0;
    background: #ffffff;
    width: 100%;
}

input[type="submit"] {
    background: rgb(121, 186, 251);
}

input:focus, textarea:focus {
    outline: 0;
    background: #f3f0ee;
}

input[type="submit"]:focus {
    background: rgb(53, 159, 188);
}


/*новостной раздел*/
.news {
    background: #e6fffa; /* Цвет фона */
    padding: 20px;
    text-align: center;
}

.news-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.news-item {
    background: white;
    padding: 10px;
    width: 30%;
}

.news-item img {
    width: 100%;
    border-radius: 5px;
}

.btns-news{
    padding: 10px 20px;
    border: none;
    background-color: #72c0ff;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    cursor: pointer;
}





/*кнопка*/
.tap {
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #f54c8d;
    color: rgb(0, 0, 0);
    font-size: 34px;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tap:hover {
    background-color: #0597ff;
}

.info{
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: column;
    width: 15%;
    white-space: nowrap;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.ftr-left {
    flex: 1;
    text-align: left;
}
.ftr-center{
    flex: 1;
    text-align: center;
}
.ftr-right{
    flex: 1;
    text-align: right
}
.ftr-soc {
    width: 40px;
    margin: 0 10px;
    vertical-align: middle;

}
.p {
    margin: 0;
    padding: 0;
    line-height: 1;
}




/* Стили для разделов */
/* раздел 1*/
#service-1 {
    padding: 50px 20px;
    background-color: #ffffff; 
    text-align: center;
}

.container1 {
    max-width: 1200px;
    margin: 0 auto;
}

.service-item {
    clear: both; 
    margin-top: 30px;
    text-align: justify; 
}

.service-image {
    float: left;
    margin-right: 20px;
    width: 300px;
    height: 200px;
    object-fit: cover; 
    border-radius: 10px; 
}
/* раздел 2*/
#services-2 {
    padding: 50px 20px;
    background-color: #e6fffa;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.service-item-inline {
    display: inline-block;
    margin-top: 30px;
    overflow: hidden;  
}

.service-text {
    display: inline-block;
    width: 60%; 
    text-align: justify; 
    vertical-align: top; 
    padding-right: 30px;
}

.service-text p {
    font-size: 16px;
    color: #000000;
    line-height: 1.6;
}

.service-image-inline {
    height: 200px;
    display: inline-block;
    width: auto;
    object-fit: cover; 
    border-radius: 10px;
    vertical-align: top; 
}
.service-image,
.service-image-inline,
.service-image-flex {
    width: 445px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
/* раздел 3*/
#services-3 {
    padding: 50px 20px;
    text-align: center;
}
.service-item-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    gap: 30px; 
    flex-wrap: nowrap; 
}

.service-text {
    text-align: left;
    width: 60%; 
}

.service-text p {
    font-size: 16px;
    color: #000000;
    line-height: 1.6;
}

.service-image-flex {
    width: 40%; 
    height: auto;
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

footer {
    background: #ccfcff9b;
    color: #000000;
    padding: 40px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-left {
    flex: 1;
    text-align: left;
}

.footer-center {
    flex: 1;
    text-align: center;
}

.footer-right {
    flex: 1;
    text-align: right;
}

.footer-social img {
    width: 40px;
    margin: 0 10px;
    vertical-align: middle;
}

.footer-form input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 250px;
    margin-bottom: 10px;
}

.footer-form input[type="submit"] {
    width: 270px;
    background: rgb(121, 186, 251);
    color: white;
    border: none;
    cursor: pointer;
}

.footer-form input[type="submit"]:hover {
    background: rgb(53, 159, 188);
    
}

